<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('partials/headerLogueado') %>
			<% } else { %>
				<%- include('partials/header') %>
					<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= cerveza.nombre %> </h2>  <!-- Esto da error en la pagina de product-add-->
			<p class="product-detail-description">
				<a href="/product/product-add/:id">Agregar producto</a>
			</p>
		</div>

		<% for (let i = 0; i < info.length; i++) { %>
			<% if (info[i].id == id) { %>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="/images/products/<%= cerveza.imagen %>" alt="" class="product-detail-img"> 
							<p class="product-detail-description"> <%= info[i].descripcion %> </p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<article>
									<img src="/images/users/stewart.jpg" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/<%= info[i].usuario.id %>"> <%= info[i].usuario.nombre %>: </a> </strong>  
										 <%= info[i].usuario.comentario %> </p>
									</div>
								</article>
					
		
							</section>
							<form class="form" action="" method="GET">
								<input class="form-input-comentario" type="text" value="" placeholder="Agregar comentario">
								<br><button type="submit" class="agregar-comentario">AGREGAR COMENTARIO</button> <br>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<% } %>

		<% } %>


	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>