<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<% if (locals.user) { %>
							<% if (locals.user.id == producto.producto_usuario.id) { %>
								<form action="/product/eliminar/<%= producto.id %>" method="POST">
									<button type="submit">Eliminar producto</button>
								</form>
								<a href="/product/product-edit/<%= producto.id %>">Editar producto</a>
							<% } %>
						<% } %>
						<h2 class="products-title"> <%= producto.nombreProducto %> </h2>
						<img src="<%= producto.imagen %>" alt="" class="product-detail-img"> 
						<p class="product-detail-description"> <%= producto.descripcionProducto %> </p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<h3>Comentarios</h3>
							<% for (let i = 0; i < producto.comentarios_producto.length; i++) { %>
								<article>
									<img src="<%= producto.comentarios_producto[i].comentario_usuario.fotoPerfil %>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/<%= producto.comentarios_producto[i].comentario_usuario.id %>"> <%= producto.comentarios_producto[i].comentario_usuario.user %>: </a> </strong>  
										 <%= producto.comentarios_producto[i].comentario %> </p>
									</div>
								</article>
							<% } %>
						</section>
						<form class="form" action="/product/comentar/<%= producto.id %>" method="POST">
							<input class="form-input-comentario" type="text" name="comentario" placeholder="Agregar comentario">
							<br><button type="submit" class="agregar-comentario">AGREGAR COMENTARIO</button> <br>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>


	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>