<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/cerveusuario.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= usuario.fotoPerfil %>" alt="Martina Stewart" class="foto-perfil">
			</div>

			<div class="data-container col-6">
        		<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.user %>
						<% if (locals.user) { %>
							<% if (locals.user.id === usuario.id) { %>
								<!-- Acá va ruedita (config) -->
								<a href="/users/profile-edit">
									<i class="fas fa-cog"></i>
								</a>
							<% } %>
						<% } %>
					</h1>
					<% if (locals.user) { %>
						<% if (locals.user.id === usuario.id) { %>
							<!-- Acá va ruedita (config) -->
						<% } else { %>
							<a class="btn mt-3 ml-4" href="/users/profile/<%= usuario.id %>">SEGUIR</a>
						<% } %>
					<% } else { %>
						<a class="btn mt-3 ml-4" href="/users/login">SEGUIR</a>
					<% } %>

				</div>
				<div>
					<ul class="">
						<li><%= usuario.productos_usuario.length %> productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->

			<%for (let i = 0; i < usuario.productos_usuario.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= usuario.productos_usuario[i].id %>">
							<figure class="product-box_image">
								<img src="<%= usuario.productos_usuario[i].imagen %>" alt="<%= usuario.productos_usuario[i].nombreProducto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= usuario.productos_usuario[i].nombreProducto %></h2>
								<p><%= usuario.productos_usuario[i].descripcionProducto %></p>
								<p>Comentarios: <%= usuario.productos_usuario[i].comentarios_producto.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>

		</div>
	</div>

	<!-- footer -->
  <%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>