<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
  <%- include('partials/header') %>  
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/La gran cerveza comienza aquí.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	
	<!-- Datos del usuario -->

	<!-- ESTE FOR ESTÁ TODO MAL -->

	<% for (let i = 0; i < info.length; i++) { %> 

		<% if (id = info[i].usuario.id) { %>
			<section class="info-usuario container products-wrapper">
						<div class="row">
							<div class="img-container offset-3 col-2">
								
								<img src="/images/users/<%= info[i]usuario.imagen %>" alt="<%= info[i]usuario.nombre %>" class="foto-perfil">
							</div>
							<div class="data-container col-6">
								<div class="d-flex align-items-center ">
									<h1 class="main-title"> <%= nombre usuario %>
										<a href="/profile-edit">
											<i class="fas fa-cog"></i>
										</a>
									</h1>
									<a class="btn mt-3 ml-4" href="">SEGUIR</a>
								</div>
								<div>
									<ul class="">
										<li>8 productos</li>
										<li>200 seguidores</li>
										<li>300 comentarios</li>
									</ul>
								</div>
							</div>
						</div>
					</section>

			<% } %>

		<% } %>	

	

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->

			<%for (let i = 0; i < 4; i++) { %>

				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%=listado_cervezas[i].id%>">
							<figure class="product-box_image">
								<img src="images/products/<%= listado_cervezas[i].imagen %>" alt="<%= listado_cervezas[i].nombre %>">
							</figure>
							<article class="product-box_data">
								<h2><%= listado_cervezas[i].nombre %></h2>
								<p><%= listado_cervezas[i].descripcion %></p>
								<p>Comentarios: <%= listado_cervezas[i].comentarios.length %></p>
								<p>Alcohol: <%= listado_cervezas[i].alcochol  %></p>
							</article>
						</a>
					</section>
				</div>

			<% } %>


	<!-- footer -->
  <%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>
